In [12]:
import pandas as pd

In [13]:
df1 = pd.read_excel('FM registered.xlsx')

df2 = pd.read_excel('Fact comers with guids.xlsx', header=None)

In [15]:
df2.head()

            0       1           2                        3   4
0        Таис    Таис  11.11.1990       tais.t@tagmedia.kz  Да
1   Исаналиев  Жандос  19.05.1999  maychinov.reg@gmail.com  Да
2  Хайбуллаев   Амаль  05.07.1994         Amal0507@mail.ru  Да
3    Майчинов  Ильназ  02.10.1999  maychinov.reg@gmail.com  Да
4       Алдяр   Адала  25.01.1995  adala.durmanova@mail.ru  Да

In [19]:
df2.rename(index=str, columns={0: "Фамилия", 1: "Имя", 2:"Дата рождения", 3:"Данные", 4:"Пришел"}, inplace=True)

In [22]:
df3 = pd.merge(df1, df2, on='Данные')

In [53]:
df3.head()

,Дата,Пользователь,Имя_x,Фамилия_x,ФИ,Дата рождения_x,Сотовый,Возраст,Данные,Пол,Сигареты,Сигареты (запасные),Фамилия_y,Имя_y,Дата рождения_y,Пришел
0,2018-05-23,19fb94c1-0d60-e811-9480-00155d014601,Руслан,Тюлебаев,Руслан Тюлебаев,1992-10-05,7009995569,25,rus_rizhik@mail.ru,Мужской,Не указан,Не указан,Руслан,Тюлебаев,1992-10-05 00:00:00,Да
1,2018-05-23,283a7ce3-018d-e711-9470-00155d014601,Оля,Мосур,Оля Мосур,1998-01-09,7078378642,20,mosur.olya@mail.ru,Женский,Не указан,Не указан,Оля,Мосур,1998-01-09 00:00:00,Да
2,2018-05-23,4fdc7936-9e57-e811-947e-00155d014601,Светлана,Будникова,Светлана Будникова,1999-03-26,7071142681,19,Budnikova16@gmail.com,Женский,"Esse, SS Exchange (Apple)",Не указан,Светлана,Будникова,1999-03-26 00:00:00,Да
3,2018-05-23,7921628c-9b57-e811-947e-00155d014601,Карина,Нургазина,Карина Нургазина,1998-04-24,7784555978,20,Risethesoul@gmail.com,Женский,"Kiss, Super Slims Energy",Не указан,Карина,Нургазина,1998-04-24 00:00:00,Да
4,2018-05-23,d3691866-9b57-e811-947e-00155d014601,Айдана,Рымтаева,Айдана Рымтаева,1998-10-14,7766119898,19,Rymtayevaa@gmail.com,Женский,"Davidoff, Gold",Не указан,Айдана,Рымтаева,1998-10-14 00:00:00,Да

In [27]:
df3.to_excel('merged_comers.xlsx')

In [44]:
df4 = pd.merge(df1, df2, on='Данные', how='outer')

In [47]:
df4 = df4[df4['Пришел'] != 'Да']

In [50]:
df4.drop(['Фамилия_y', 'Имя_y', 'Дата рождения_y', 'Пришел'],axis=1, inplace=True)

c:\users\777\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df4.

In [52]:
df4.to_excel('merged_not_comers.xlsx')